<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mappa dei Paesi</title>
  <link rel="stylesheet" th:href="@{/css/paesi.css}">
</head>
<body>

<main class="map-container">
  <h1>Mappa dei Paesi</h1>
  <div id="tooltip" class="tooltip"></div>
  <div id="svg-container"></div>
</main>

<!-- Passaggio paesi da Thymeleaf a JS -->
<script th:inline="javascript">
  window.paesi = /*[[${paesi}]]*/ [];
</script>
<script th:src="@{/js/paesi.js}"></script>

</body>
</html>